{{#if msgSucesso}}
<div class="container">
  <div class="alert alert-success">{{msgSucesso}}</div>
</div>
{{/if}}

{{#if msgErro}}
<div class="container">
  <div class="alert alert-danger">{{msgErro}}</div>
</div>
{{/if}}