<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mx-auto d-inline-block w-15 p-3">
    <a class="font-weight-bold " href="/index">
      <img src="/img/producao128px.png" class="my-2 p-2" width="50" height="50" alt="Logo">
    </a>
    Radar 4.0
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse my-4" id="navbarSite">
    <ul class="navbar-nav m-auto">

      <li class="nav-item">
        <a class="nav-link active" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown ml-4">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          PCP
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item my-2" href="/producoes">Produção</a>
          <a class="dropdown-item my-2" href="/produtos">Produtos</a>
          <a class="dropdown-item my-2" href="/pausas">Pausas</a>
          <a class="dropdown-item my-2" href="/producao/relatorios">Relatórios de Produções</a>
          <a class="dropdown-item my-2" href="/produtos/relatorios">Relatórios de Produtos</a>
          <a class="dropdown-item my-2" href="/pausas/relatorios">Relatórios de Pausas</a>
        </div>
      </li>

      <li class="nav-item dropdown ml-4">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Operação
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item my-2" href="/operacao">Inicializar uma Produção</a>
          <a class="dropdown-item my-2" href="/operacao/executadas">Produções Executadas</a>
          <a class="dropdown-item my-2" href="/paradas">Identificar Motivo de Paradas</a>
          <a class="dropdown-item my-2" href="/motivos">Motivos</a>
          <a class="dropdown-item my-2" href="/motivos/relatorios">Relatórios de Cadastro de Motivos</a>
          <a class="dropdown-item my-2" href="/paradas/relatorios">Relatórios de Paradas</a>
        </div>
      </li>

      <li class="nav-item dropdown ml-4">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Gestão
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item my-2" href="/operacao">Produções programadas</a>
          <a class="dropdown-item my-2" href="/index">Evolução dos Indicadores</a>
        </div>
      </li>

      <li class="nav-item dropdown ml-4">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Adm
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item my-2" href="/usuarios">Usuarios</a>
          <a class="dropdown-item my-2" href="/usuarios/relatorios">Relatórios de Cadastro de Usuarios</a>
        </div>
      </li>

      <li class="nav-item text-inline ml-4 my-2 my-lg-0">
        <a class="nav-link active" href="/operacao/start">
          Dashboard
        </a>
      </li>
      <li class="nav-item text-inline ml-4 my-2 my-lg-0">
        <a class="nav-link active" href="/logout">
          Sair
        </a>
      </li>

    </ul>
  </div>
</nav>