<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/img/producao128px.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSite">
    <ul class="navbar-nav m-auto">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/produtos">PCP</a>
      <a class="nav-item nav-link" href="#">Operação</a>
      <a class="nav-item nav-link" href="#">Adm</a>
    </ul>
  </div>
</nav>