<div class="container bg-light">
  <div class="row">
    <div class="col-sm-4">
      <div class="card m-auto  shadow">
        <div class="card-body">
          <div id="chartOEE"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">

        <div class="col-sm-4 blocoPequeno">
          <div class="card m-auto  shadow">
            <div class="card-body">
              <div id="chartEficiencia" class="chartSm"></div>
              <br>
              <p class="text-center">Eficiência</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 blocoPequeno">
          <div class="card m-auto  shadow">
            <div class="card-body">
              <div id="chartDisponibilidade" class="chartSm"></div>
              <br>
              <p class="text-center">Disponibilidade</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4 blocoPequeno">
          <div class="card m-auto  shadow">
            <div class="card-body">
              <div id="chartQualidade" class="chartSm"></div>
              <br>
              <p class="text-center">Qualidade</p>
            </div>
          </div>
        </div>

      </div>
      <br>
      <br>
      <br>
      <br>

      <div class="row mt-2">
        <div class="col-sm-12 blocoPequeno">
          <div class="card m-auto  shadow">
            <div class="card-body">
              <p>Top 5 motivos de paradas</p>
              <div id="chartColunas" class="chartSm"></div>
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row mt-1" style="height: 30px;">
    <div class="col-sm-4">


    </div>
  </div>
</div>
</div>



</div>



<script src="/socket.io/socket.io.js"> </script>
<script>

  //aponta pra o socket server
  var socket = io()
</script>

<script> //charts OEE
  var optionsOEE = {
    series: [75],
    chart: {
      height: 350,
      type: 'radialBar',
      toolbar: {
        show: true
      }
    },
    plotOptions: {
      radialBar: {
        startAngle: -135,
        endAngle: 225,
        hollow: {
          margin: 0,
          size: '70%',
          background: '#fff',
          image: undefined,
          imageOffsetX: 0,
          imageOffsetY: 0,
          position: 'front',
          dropShadow: {
            enabled: true,
            top: 3,
            left: 0,
            blur: 4,
            opacity: 0.24
          }
        },
        track: {
          background: '#fff',
          strokeWidth: '67%',
          margin: 0, // margin is in pixels
          dropShadow: {
            enabled: true,
            top: -3,
            left: 0,
            blur: 4,
            opacity: 0.35
          }
        },

        dataLabels: {
          show: true,
          name: {
            offsetY: -10,
            show: true,
            color: '#888',
            fontSize: '17px'
          },
          value: {
            formatter: function (val) {
              return parseInt(val);
            },
            color: '#111',
            fontSize: '36px',
            show: true,
          }
        }
      }
    },
    fill: {
      type: 'gradient',
      gradient: {
        shade: 'dark',
        type: 'horizontal',
        shadeIntensity: 0.5,
        gradientToColors: ['#ABE5A1'],
        inverseColors: true,
        opacityFrom: 1,
        opacityTo: 1,
        stops: [0, 100]
      }
    },
    stroke: {
      lineCap: 'round'
    },
    labels: ['OEE'],
  };

  var chartOEE = new ApexCharts(document.querySelector("#chartOEE"), optionsOEE);
  chartOEE.render();

  var optionsEficiencia = {
    series: [76],
    chart: {
      type: 'radialBar',
      offsetY: 1,
      sparkline: {
        enabled: true
      }
    },
    plotOptions: {
      radialBar: {
        startAngle: -90,
        endAngle: 90,
        track: {
          background: "#e7e7e7",
          strokeWidth: '97%',
          margin: 5, // margin is in pixels
          dropShadow: {
            enabled: true,
            top: 2,
            left: 0,
            color: '#999',
            opacity: 1,
            blur: 2
          }
        },
        dataLabels: {
          name: {
            show: false
          },
          value: {
            offsetY: 6,
            fontSize: '22px'
          }
        }
      }
    },
    grid: {
      padding: {
        top: -10
      }
    },
    fill: {
      type: 'gradient',
      gradient: {
        shade: 'light',
        shadeIntensity: 0.4,
        inverseColors: false,
        opacityFrom: 1,
        opacityTo: 1,
        stops: [0, 50, 53, 91]
      },
    },
    labels: ['Average Results'],
  };

  var chartEficiencia = new ApexCharts(document.querySelector("#chartEficiencia"), optionsEficiencia);
  chartEficiencia.render();

  var optionsDisponibilidade = {
    series: [76],
    chart: {
      type: 'radialBar',
      offsetY: 1,
      sparkline: {
        enabled: true
      }
    },
    plotOptions: {
      radialBar: {
        startAngle: -90,
        endAngle: 90,
        track: {
          background: "#e7e7e7",
          strokeWidth: '97%',
          margin: 5, // margin is in pixels
          dropShadow: {
            enabled: true,
            top: 2,
            left: 0,
            color: '#999',
            opacity: 1,
            blur: 2
          }
        },
        dataLabels: {
          name: {
            show: false
          },
          value: {
            offsetY: 6,
            fontSize: '22px'
          }
        }
      }
    },
    grid: {
      padding: {
        top: -10
      }
    },
    fill: {
      type: 'gradient',
      gradient: {
        shade: 'light',
        shadeIntensity: 0.4,
        inverseColors: false,
        opacityFrom: 1,
        opacityTo: 1,
        stops: [0, 50, 53, 91]
      },
    },
    labels: ['Average Results'],
  };

  var chartDisponibilidade = new ApexCharts(document.querySelector("#chartDisponibilidade"), optionsDisponibilidade);
  chartDisponibilidade.render();

  var optionsQualidade = {
    series: [76],
    chart: {
      type: 'radialBar',
      offsetY: 1,
      sparkline: {
        enabled: true
      }
    },
    plotOptions: {
      radialBar: {
        startAngle: -90,
        endAngle: 90,
        track: {
          background: "#e7e7e7",
          strokeWidth: '97%',
          margin: 5, // margin is in pixels
          dropShadow: {
            enabled: true,
            top: 2,
            left: 0,
            color: '#999',
            opacity: 1,
            blur: 2
          }
        },
        dataLabels: {
          name: {
            show: false
          },
          value: {
            offsetY: 6,
            fontSize: '22px'
          }
        }
      }
    },
    grid: {
      padding: {
        top: -10
      }
    },
    fill: {
      type: 'gradient',
      gradient: {
        shade: 'light',
        shadeIntensity: 0.4,
        inverseColors: false,
        opacityFrom: 1,
        opacityTo: 1,
        stops: [0, 50, 53, 91]
      },
    },
    labels: ['Average Results'],
  };

  var chartQualidade = new ApexCharts(document.querySelector("#chartQualidade"), optionsQualidade);
  chartQualidade.render();

  var optionsColunas = {
    series: [{
      data: [580, 690, 1100, 1200, 1380]
    }],
    chart: {
      type: 'bar',
      height: 180
    },
    plotOptions: {
      bar: {
        horizontal: true,
      }
    },
    dataLabels: {
      enabled: true
    },
    xaxis: {
      categories: ['Motivo 1', 'Motivo 2', 'Motivo 3', 'Motivo 4', 'Motivo 5'
      ],
    }
  };

  var chartColunas = new ApexCharts(document.querySelector("#chartColunas"), optionsColunas);
  chartColunas.render();

</script>