<div class="container bg-light">

  <div class="row">
    <div class="col-sm-8">
      <h2>Próximas Produções</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Quantidade</th>
            <th scope="col">Produto</th>
            <th scope="col">Inicia em:</th>
          </tr>
        </thead>
        <tbody>
          {{#each operacao}}
          <tr>
            <td>{{qtd_planejada}}</td>
            <td>{{produto_id}}</td>
            <td>
              <button class="btn btn-primary">{{data}}</button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>