<div class="container bg-light">

  <div class="row">
    <div class="col-sm-8">
      <h2>Próximas Produções</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Quantidade</th>
            <th scope="col">Produto</th>
            <th scope="col">Inicia em:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>120</td>
            <td>Nome do Produto</td>
            <td>
              <button class="btn btn-primary">10 minutos</button>
            </td>
          </tr>
          <tr>
            <td>280</td>
            <td>Nome do Produto</td>
            <td>
              <button class="btn btn-primary">1 hora</button>
            </td>
          </tr>
          <tr>
            <td>670</td>
            <td>Nome do Produto</td>
            <td>
              <button class="btn btn-primary">8 horas</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-sm-4 ">

    </div>

  </div>
</div>