<div class="container bg-light">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-4">
          <div class="card p-2 m-2 shadow">
            <div class="card-body text-center">
              <h4 class="card-title">Status</h4>
              <h1 class="text-success font-weight-bold d-inline" id="status">Rodando</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-2 m-2 shadow">
            <div class="card-body text-center">
              <h4 class="card-title">Realizado</h4>
              <h1 class="text-primary font-weight-bold d-inline" id="realizado">130</h1>
              <p class="d-inline m-2">und</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-2 m-2 shadow">
            <div class="card-body text-center">
              <h4 class="card-title">Falta</h4>
              <h1 class="text-primary font-weight-bold d-inline" id="falta">90</h1>
              <p class="d-inline m-2">und</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-2 m-2 shadow">
            <div class="card-body text-center">
              <h4 class="card-title">Velocidade Média</h4>
              <h1 class="text-primary font-weight-bold d-inline" id="velocidade">14</h1>
              <p class="d-inline ml-2">/min</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-2 m-2 shadow">
            <div class="card-body text-center">
              <h4 class="card-title">Enceramento em </h4>
              <h1 class="text-primary font-weight-bold d-inline" id="enceraEm">00:33</h1>
              <p class="d-inline ml-2"> min</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card p-2 m-2 shadow">
            <div class="card-body text-center">
              <h4 class="card-title">Defeito </h4>
              <h1 class="text-danger font-weight-bold d-inline" id="defeito">11</h1>
              <p class="d-inline ml-2"> und</p>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="col-sm-4">
      <div class="m-auto">
        <h4 class="">Planejado </h4>

        <p class="d-inline">Produto: </p>
        <p class="d-inline ml-2" id="produto"> </p>
        <br>
        <p class="d-inline">Quantidade: </p>
        <p class="d-inline" id="quantidade"></p>
        <p class="d-inline">unidades </p>
        <br>
        <p class="d-inline">Lote: </p>
        <p class="d-inline"> </p>
        <br>
        <p class="d-inline">Meta: </p>
        <p class="d-inline">15 </p>
        <p class="d-inline">und/min</p>
        <br>
        <p class="d-inline">Inicio: </p>
        <script>

        </script>
        <p class="d-inline" id="dataInicio"></p>
        <br>
        <p class="d-inline">Fim: </p>
        <p class="d-inline">20/10/2020 13:30 </p>

      </div>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="card m-auto  shadow">
        <div class="card-body">
          <div id="chart"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="m-auto p-4 shadow">
        <h4>Eventos identificadas</h4>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Período</th>
              <th scope="col">Duração</th>
              <th scope="col">Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Parada</td>
              <td>08:00 as 08:45</td>
              <td>00:08:45</td>
              <td>Bloqueio de emergência</td>
            </tr>
            <tr>
              <td>Pausa</td>
              <td>08:30 as 08:50</td>
              <td>00:20:00</td>
              <td>Pausa do café</td>
            </tr>
        </table>
      </div>
    </div>
  </div>

</div>



<script src="/socket.io/socket.io.js"> </script>

<script>

  //aponta pra o socket server
  var socket = io()

  window.onload = () => {
    socket.emit('onload', 'onload')

  }

  socket.on('connect', () => {
    console.log(`Conectado: ${socket.id}`)
    socket.emit('teste', socket.id)

  })

  //recebe o evento de envio dos dados da produção
  socket.on('producaoDados', (dadosRecebidos) => {
    atualizaDados(dadosRecebidos)
    console.log(dadosRecebidos)
  })

  //recebe a carga de dados quando OnLoad
  socket.on('cargaOnload', (dadosRecebidos) => {
    atualizaDados(dadosRecebidos)
    console.log('dados recebidos quando Onload' + JSON.stringify(dadosRecebidos))
  })

  atualizaDados = (dadosRecebidos => {
    //Atualiza o value dos elementos
    document.getElementById('status').innerHTML = "Start"
    document.getElementById('realizado').innerHTML = dadosRecebidos.qtd_produzida
    document.getElementById('falta').innerHTML = dadosRecebidos.qtd_planejada - dadosRecebidos.qtd_produzida
    document.getElementById('velocidade').innerHTML = 100
    document.getElementById('enceraEm').innerHTML = "00:00"
    document.getElementById('defeito').innerHTML = dadosRecebidos.qtd_defeito
  })

</script>

<script> //charts
  var options = {
    series: [
      // Produzindo
      {
        name: 'Produzindo',
        data: [
          {
            x: 'Produção',
            y: [
              new Date(2010, 1, 1).getTime(),
              new Date(2015, 1, 1).getTime()
            ]
          },
        ]
      },
      // Pausa
      {
        name: 'Pausa',
        data: [
          {
            x: 'Produção',
            y: [
              new Date(2015, 1, 2).getTime(),
              new Date(2018, 1, 1).getTime()
            ]
          },
        ]
      },
      // Parada
      {
        name: 'Parada',
        data: [
          {
            x: 'Produção',
            y: [
              new Date(2018, 1, 2).getTime(),
              new Date(2020, 1, 1).getTime()
            ]
          },
        ]
      },

    ],
    chart: {
      height: 150,
      type: 'rangeBar',
      toolbar: { tools: { download: false } }
    },
    plotOptions: {
      bar: {
        horizontal: true,
        barHeight: '50%',
        rangeBarGroupRows: true
      }
    },
    colors: [
      "#008FFB", "#00E396", "#ff0000"
    ],
    fill: {
      type: 'solid'
    },
    xaxis: {
      type: 'datetime'
    },
    legend: {
      position: 'right'
    },
    tooltip: {
      custom: function (opts) {
        const fromYear = new Date(opts.y1).getFullYear()
        const toYear = new Date(opts.y2).getFullYear()
        const values = opts.ctx.rangeBar.getTooltipValues(opts)

        return (
          ''
        )
      }
    }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();
</script>